:host(:not([hidden])) {
  display: block;
}
::slotted(:not(ui-property):not(ui-separator)) {
  display: none;
}
::slotted(ui-separator) {
  border-top: 1px solid var(--ui-color-separator);
  margin-top: calc(var(--ui-spacing-unit) * 3 - .5px);
  margin-bottom: calc(var(--ui-spacing-unit) * 3 - .5px);
  grid-column: 1 / span 2;
}

div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--ui-spacing-unit);
}