:host(:not([hidden])) {
  display: inline-block;
  background: transparent;
  color: var(--ui-color-accent);
  height: var(--ui-spacing);
  border-radius: var(--ui-radius);
  -webkit-tap-highlight-color: transparent;
}

@media(hover) {
  :host(:not([disabled]):hover) {
    background-color: var(--ui-color-base-dark);
  }
}

:host([disabled]) {
  --ui-color-accent: var(--ui-color-base-muted);
}

button {
  display: block;
  font: inherit;
  background: transparent;
  border: none;
  color: inherit;
  margin: 0;
  align-self: center;
  padding: 0 var(--ui-spacing-unit);
  height: inherit;
  -webkit-user-select: none;
  user-select: none;
}
