:host(:not([hidden])) {
  display: inline-block;
}

div {
  display: inline-flex;
  --show-text: min(var(--ui-text-visibility, 1), 1);
  --show-icon: min(var(--ui-icon-visibility, 1) * var(--has-icon, 1), 1);
  --font-size: calc(var(--show-text) * 1rem );
  --icon-size: calc(var(--has-icon) * var(--show-icon) * var(--ui-padding));
  --gap-size: calc(var(--show-text) * var(--show-icon) * var(--ui-spacing-unit));
  align-items: center;
  gap: var(--gap-size);
  white-space: nowrap;
  vertical-align: bottom;
}

ui-icon {
  flex: 0 0 var(--icon-size);
  width: var(--icon-size);
}

span {
  display: block;
  font-size: var(--font-size);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  min-width: 0;
  max-width: 100%;
}
/*
:host-context(ui-button) div {
  margin: 0 calc(var(--show-text) * 4px);
}

:host-context(ui-togglebutton) div {
  margin: 0 calc(var(--show-text) * 4px);
}
*/