:host(:not([hidden])) {
  display: inline-grid;
  grid-template-columns: subgrid;  /* toggle for single column */
  grid-column: 1 / span 2;
  gap: calc(var(--ui-spacing-unit) * 2);
}
label {
  align-items: center;
  display: grid;
  grid-template-columns: inherit;
  grid-column: inherit;
}
ui-iconlabel {
  color: var(--ui-color-base-muted);
}
